<template>
  <div>
    <Header></Header>
    <div class="container">
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <div class="mt-2">
          <b-button type="submit" variant="primary">保存</b-button>
          <div class="float-right">
            <b-button v-if="checked.length > 0" type="button" variant="secondary" @click="allBtnClick">All-OFF</b-button>
            <b-button v-else type="button" variant="secondary" @click="allBtnClick">All-ON</b-button>
          </div>
        </div>
        <div v-for="(ability) in abilities" class="mt-2" :key="ability">
          <b-form-checkbox v-model="checked" v-bind:value="ability" name="check-button" switch>
            {{ ability }}
          </b-form-checkbox>
        </div>
        <div class="mt-2 mb-2">
          <b-button type="submit" variant="primary">保存</b-button>
          <div class="float-right">
            <b-button v-if="checked.length > 0" type="button" variant="secondary" @click="allBtnClick">All-OFF</b-button>
            <b-button v-else type="button" variant="secondary" @click="allBtnClick">All-ON</b-button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
  // config系
  import { getAbilityTypeOrder } from '../../../config/Seal/AbilityTypeOrder.js'
  import { getKisekiSeals } from '../../../config/Seal/KisekiSeal.js'
  import { getSenshinSeals } from '../../../config/Seal/SenshinSeal.js'

  // NeDB
  import kisekiAbilityDB from '../../../models/kisekiAbility'
  import senshinAbilityDB from '../../../models/senshinAbility'

  export default {
    data: function () {
      return {
        checked: []
      }
    },
    props: {
      abilities: Array,
      beltType: String
    },
    mounted: function () {
      this.checked = this.fetchAbility()
    },
    methods: {
      // 選択効果をセットする
      setChecked: function (abilities) {
        const mapAbilities = abilities.map(function (ability) {
          return ability.checked
        })
        if (mapAbilities.length > 0) {
          this.checked = mapAbilities
        } else {
          this.checked = []
        }
      },
      // ベルト封印情報をNeDBから取得する
      async fetchAbility () {
        let abilities
        if (this.beltType === '輝石のベルト') {
          abilities = await kisekiAbilityDB.methods.findKisekiAbility()
        } else {
          abilities = await senshinAbilityDB.methods.findSenshinAbility()
        }

        // NeDBから取得した効果をセット
        this.setChecked(abilities)
      },
      // ベルト封印情報をNeDBに保存する
      storeAbility: function (query) {
        if (this.beltType === '輝石のベルト') {
          kisekiAbilityDB.methods.insertKisekiAbility(query)
        } else {
          senshinAbilityDB.methods.insertSenshinAbility(query)
        }
      },
      // ベルト封印情報をNeDBから削除する
      deleteAbility: function () {
        if (this.beltType === '輝石のベルト') {
          kisekiAbilityDB.methods.removeKisekiAbility()
        } else {
          senshinAbilityDB.methods.removeSenshinAbility()
        }
      },
      // 登録ボタンが押された場合
      handleSubmit: function () {
        this.$emit('setOverlay')

        // 登録されている封印情報を削除する
        this.deleteAbility()

        let query
        if (this.beltType === '輝石のベルト') {
          query = this.checked.map(function (check) {
            return { 'checked': check, 'order': getAbilityTypeOrder()['輝石のベルト'][check] }
          })
        } else {
          query = this.checked.map(function (check) {
            return { 'checked': check, 'order': getAbilityTypeOrder()['戦神のベルト'][check] }
          })
        }

        // 封印情報を登録する
        this.storeAbility(query)
      },
      // All-OFF, All-ONボタンが押された場合
      allBtnClick: function () {
        if (this.checked.length > 0) {
          this.checked = []
        } else {
          if (this.beltType === '輝石のベルト') {
            this.checked = getKisekiSeals()
          } else {
            this.checked = getSenshinSeals()
          }
        }
      }
    }
  }
</script>
