<template>
  <div v-scroll-lock="showOverlay">
    <Header></Header>
    <div class="container">
      <div class="mt-3">
        <Search :belts.sync="beltsComputed"></Search>
      </div>
      <div class="clearfix">
        <v-fa icon="plus" v-b-modal.create class="fa-2x fa-pull-right cursor-pointer" />
      </div>
      <div class="row mt-3">
        <Item :belts="belts" :targetBeltId.sync="targetBeltIdComputed"></Item>
      </div>
      <CreateModal @setOverlay="setOverlay"></CreateModal>
      <DeleteConfirmModal :targetBeltId.sync="targetBeltIdComputed" @setOverlay="setOverlay"></DeleteConfirmModal>
    </div>
    <b-overlay :show="showOverlay" no-wrap fixed></b-overlay>
  </div>
</template>

<script>
  // 子コンポーネント
  import Header from './Common/Header'
  import Search from './BeltPage/Search'
  import Item from './BeltPage/Item'
  import CreateModal from './BeltPage/CreateModal'
  import DeleteConfirmModal from './BeltPage/DeleteConfirmModal'

  // NeDB
  import beltDB from '../../models/belt'

  export default {
    name: 'belt-page',
    data: function () {
      return {
        belts: [],
        selectedAbilities: [],
        targetBeltId: null,
        showOverlay: false
      }
    },
    components: {
      Header,
      Search,
      Item,
      CreateModal,
      DeleteConfirmModal
    },
    mounted: function () {
      this.beltsComputed = []
    },
    computed: {
      beltsComputed: {
        get: function () {
          return this.belts
        },
        async set (selectedAbilities) {
          this.belts = await beltDB.methods.findBeltByAbilities(selectedAbilities)
          this.selectedAbilities = selectedAbilities
        }
      },
      targetBeltIdComputed: {
        get: function () {
          return this.targetBeltId
        },
        set (_id) {
          this.targetBeltId = _id
        }
      }
    },
    methods: {
      // インターバルを初期化
      clearInterval: function () {
        if (this.interval) {
          clearInterval(this.interval)
          this.interval = null
        }
      },
      // ローディングアイコンを表示
      setOverlay: function () {
        this.showOverlay = true
        this.counter = 1

        this.interval = setInterval(() => {
          if (this.counter <= 2) {
            this.counter = this.counter + 1
          } else {
            this.beltsComputed = this.selectedAbilities
            this.clearInterval()
            this.$nextTick(() => {
              this.showOverlay = false
            })
          }
        }, 350)
      }
    }
  }
</script>
