<template>
  <div v-scroll-lock="showOverlay">
    <Header></Header>
    <div class="container">
      <Ability :abilities="abilities" :beltType="beltType" @setOverlay="setOverlay"></Ability>
      <b-overlay :show="showOverlay" no-wrap fixed></b-overlay>
    </div>
  </div>
</template>

<script>
  // 子コンポーネント
  import Header from './Common/Header'
  import Ability from './SealPage/Ability'

  // config系
  import { getSenshinSeals } from '../../config/Seal/SenshinSeal.js'

  export default {
    name: 'senshin-seal-page',
    components: {
      Header,
      Ability
    },
    data: function () {
      return {
        showOverlay: false,
        counter: 1,
        interval: null
      }
    },
    computed: {
      abilities: function () {
        return getSenshinSeals()
      },
      beltType: function () {
        return '戦神のベルト'
      }
    },
    methods: {
      // インターバルを初期化
      clearInterval: function () {
        if (this.interval) {
          clearInterval(this.interval)
          this.interval = null
        }
      },
      // ローディングアイコンを表示
      setOverlay: function () {
        this.showOverlay = true
        this.counter = 1

        this.interval = setInterval(() => {
          if (this.counter <= 2) {
            this.counter = this.counter + 1
          } else {
            this.clearInterval()
            this.$nextTick(() => {
              this.showOverlay = false
            })
          }
        }, 350)
      }
    }
  }
</script>
