<template>
  <b-modal
    id="create"
    size="lg"
    title="ベルト登録"
    @show="handleShow"
    @ok="handleOk"
    ok-title="登録"
    :ok-disabled="disableOkBtn"
    cancel-title="閉じる"
    centered
  >
    <form ref="form" @submit.stop.prevent="handleSubmit">
      <!-- ベルト -->
      <b-form-group
        class="font-weight-bold"
        label="ベルト"
        label-for="belt-input"
      >
        <b-form-select
          id="bel-input"
          v-on:change="onChangeBelt($event)"
          :options="beltTypeOptions"
          size="sm"
          class="w-50"
          v-model="form.belt"
        ></b-form-select> 
      </b-form-group>
      <!-- ./ベルト -->

      <!-- 効果 -->
      <b-form-group
        class="font-weight-bold"
        label="付与効果"
        label-for="ability-input"
      >
        <div v-for="(ability, index) in form.abilities" class="form" :key="index">
          <div class="mb-2">
            <!-- 効果種別 -->
            <b-form-select
              id="ability-input"
              v-on:change="onChangeAblityType($event, index)"
              :options="selectedAbilityTypeOptions"
              size="sm"
              class="w-50"
              v-model="form.abilities[index].type"
              :disabled="disableAbilities"
            ></b-form-select>

            <!-- 効果値 -->
            <b-form-select
              v-on:change="onChangeAblityValue($event, index)"
              :options="selectedAbilityValueOptions[index]"
              size="sm"
              class="w-25"
              v-model="form.abilities[index].value"
              :disabled="disableAbilities"
            ></b-form-select>

            <!-- 削除ボタン -->
            <span v-if="index > 1">
              <v-fa icon="trash" v-on:click="onClickDeleteAblity(index)" class="fa-lg cursor-pointer" />
            </span>
          </div>
        </div>
      </b-form-group>
      <v-fa icon="plus" v-show="showAddAbilityBtn" v-on:click="onClickAddAblity" class="fa-lg cursor-pointer" />
      <!-- /効果 -->
  　</form>
  </b-modal>
</template>

<script>
  // config系
  import { getBeltOptions } from '../../../config/BeltOptions.js'
  import { getAbilityValueOptions } from '../../../config/AbilityValueOptions.js'

  // moment
  import moment from 'moment'

  // NeDB
  import beltDB from '../../../models/belt'
  import senshinAbilityDB from '../../../models/senshinAbility'
  import kisekiAbilityDB from '../../../models/kisekiAbility'

  export default {
    data: function () {
      return {
        showAddAbilityBtn: false, // +ボタン表示制御
        disableOkBtn: true, // 登録ボタン表示制御
        disableAbilities: true, // 効果選択欄の表示制御
        // フォームの値
        form: {
          belt: '',
          abilities: [
            {type: '', value: ''},
            {type: '', value: ''}
          ],
          created_at: ''
        },
        selectedAbilityTypeOptions: null, // 選択したアビリティ種別
        selectedAbilityValueOptions: [], // 選択したアビリティ値
        abilityTypeOptions: []
      }
    },
    props: {
      belts: null
    },
    computed: {
      beltTypeOptions: function () {
        return getBeltOptions()
      },
      abilityValueOptions: function () {
        return getAbilityValueOptions()
      },
      abilityMaxLength: function () {
        return 5
      },
      abilityTypeOptionsComputed: {
        get: function () {
          return this.abilityTypeOptions
        },
        async set () {
          // 戦神のベルトの効果を取得する
          const senshinAbility = await senshinAbilityDB.methods.findSenshinAbility()
          this.abilityTypeOptions['戦神のベルト'] = this.generateAbilityTypeOptions(senshinAbility)

          // 輝石のベルトの効果を取得する
          const kisekiAbility = await kisekiAbilityDB.methods.findKisekiAbility()
          this.abilityTypeOptions['輝石のベルト'] = this.generateAbilityTypeOptions(kisekiAbility)
        }
      }
    },
    mounted: function () {
      // 選択可能なアビリティを取得する
      this.abilityTypeOptionsComputed = null
    },
    methods: {
      // 効果種別にオプションを生成
      generateAbilityTypeOptions: function (ability) {
        const mapAbility = ability.map(function (ability) {
          return {'value': ability.checked, 'text': ability.checked}
        })

        if (mapAbility.length > 0) {
          return mapAbility
        } else {
          return []
        }
      },
      // 入力項目クリア
      clear: function () {
        this.form.belt = ''
        this.form.abilities = [
          {type: '', value: ''},
          {type: '', value: ''}
        ]
        this.selectedAbilityTypeOptions = null
        this.selectedAbilityValueOptions = []
        this.disableOkBtn = true
      },
      // ベルト変更時
      onChangeBelt: function (event) {
        this.clear()
        this.showAddAbilityBtn = true
        this.disableAbilities = false

        this.form.belt = event
        this.selectedAbilityTypeOptions = this.abilityTypeOptions[event]
      },
      // 効果（種別）変更時
      onChangeAblityType: function (event, index) {
        this.form.abilities[index].type = event
        this.$set(this.selectedAbilityValueOptions, index, this.abilityValueOptions[this.form.belt][event])
        this.validateForm()
      },
      // 効果 (値) 変更時
      onChangeAblityValue: function (event, index) {
        this.form.abilities[index].value = event
        this.validateForm()
      },
      // ＋アイコン押下時
      onClickAddAblity: function () {
        this.$set(this.form.abilities, this.form.abilities.length, {type: '', value: ''})
        if (this.form.abilities.length === this.abilityMaxLength) {
          this.showAddAbilityBtn = false
        }
        this.validateForm()
      },
      // ゴミ箱アイコン押下時
      onClickDeleteAblity: function (index) {
        const abilityLength = this.form.abilities.length
        for (let i = index; i < abilityLength - 1; i++) {
          this.$set(this.form.abilities, i, this.form.abilities[i + 1])
          this.$set(this.selectedAbilityValueOptions, i, this.abilityValueOptions[this.form.belt][this.form.abilities[i + 1].type])
        }
        this.$delete(this.form.abilities, abilityLength - 1)
        this.showAddAbilityBtn = true
        this.validateForm()
      },
      // モーダル表示時
      handleShow: function () {
        this.clear()
        this.showAddAbilityBtn = false
        this.disableAbilities = true
      },
      // 登録ボタン押下時
      handleOk: function (bvModalEvt) {
        // ローディングを表示
        this.$emit('setOverlay')
        // 登録処理を実行
        this.handleSubmit()
      },
      // Submit処理
      handleSubmit: function () {
        this.form.created_at = moment().format('YYYY-MM-DD HH:mm:ss')
        this.storeBelt(this.form)
      },
      // 入力を確認
      validateForm: function () {
        let disableOkBtn = false
        // ベルトが選択されているか
        if (!this.form.belt) {
          disableOkBtn = true
        }
        // 効果が選択されているか
        this.form.abilities.forEach(function (ability) {
          if (!ability.type) {
            disableOkBtn = true
          }
          if (!ability.value) {
            disableOkBtn = true
          }
        })
        this.disableOkBtn = disableOkBtn
      },
      // ベルト情報を保存する
      async storeBelt (query) {
        await beltDB.methods.insertBelt(query)
      }
    }
  }
</script>
