<template>
  <b-modal
    id="delete-confirm"
    size="lg"
    title="ベルト削除"
    @ok="handleOk"
    ok-title="はい"
    ok-variant="danger"
    cancel-title="いいえ"
    centered
  >
    <p class="my-4">選択したベルトを削除しますか？</p>
  </b-modal>
</template>

<script>
  // NeDB
  import beltDB from '../../../models/belt'

  export default {
    props: {
      targetBeltId: null
    },
    methods: {
      // 登録ボタン押下時
      handleOk: function (bvModalEvt) {
        // ローディングを表示
        this.$emit('setOverlay')
        // 削除処理を実行
        this.handleSubmit()
      },
      // Submit処理
      handleSubmit: function () {
        this.deleteBelt()
      },
      // ベルト情報を削除する
      deleteBelt: function () {
        beltDB.methods.removeBeltById(this.targetBeltId)
      }
    }
  }
</script>

