<template>
  <div class="col-md-12">
    <b-card-group deck>
      <b-card no-body v-for="(belt, key, index) in belts" :key="index" class="box-shadow">
        <b-card-header>
          <h5 class="my-0 font-weight-bold">
            {{belt.belt}} +{{belt.abilities.length}}<v-fa icon="trash" class="fa-pull-right cursor-pointer" @click="openDeleteConfirmModal(belt._id)" />
          </h5>
        </b-card-header>
        <b-card-body>
          <ul class="list-unstyled mb-0">
            <li v-for="(ability, index) in belt.abilities" class="font-weight-bold" :key="index">
              <span v-if="abilityMaximumValues[belt.belt][ability.type] == ability.value">
                <v-fa icon="crown" class="mr-1 crown-color" :id="belt._id" />{{ability.type}} {{ability.value}}
              </span>
              <span v-else class="ml-4">
                {{ability.type}} {{ability.value}}
              </span>
            </li>
          </ul>
        </b-card-body>
      </b-card>
    </b-card-group>
  </div>
</template>

<script>
  // config系
  import { getAbilityMaximumValues } from '../../../config/AbilityMaximumValues.js'

  export default {
    props: {
      belts: Array,
      targetBeltId: String
    },
    computed: {
      abilityMaximumValues: function () {
        return getAbilityMaximumValues()
      }
    },
    methods: {
      // 削除モーダルを開く
      openDeleteConfirmModal: function (deleteBeltId) {
        // 削除対象のベルトIDを保持
        this.$emit('update:targetBeltId', deleteBeltId)

        // 削除確認モーダルを表示
        this.$root.$emit('bv::show::modal', 'delete-confirm')
      }
    }
  }
</script>
