<template>
  <b-form-group>
    <b-form-tags v-model="value" no-outer-focus class="mb-2">
      <template v-slot="{ tags, disabled, addTag, removeTag }">
        <ul v-if="tags.length > 0" class="list-inline d-inline-block mb-2">
          <li v-for="tag in tags" :key="tag" class="list-inline-item">
            <b-form-tag
              @remove="onOptionRemoveClick({tag, removeTag, tags})"
              :title="tag"
              :disabled="disabled"
              variant="info"
            >{{ tag }}</b-form-tag>
          </li>
        </ul>

        <b-dropdown size="sm" variant="outline-secondary" block menu-class="w-100">
          <template v-slot:button-content>
            <v-fa icon="search" /> 検索
          </template>
          <b-dropdown-form @submit.stop.prevent="() => {}">
            <b-form-group
              label-for="tag-search-input"
              label="検索ワードを入力"
              label-cols-md="auto"
              class="mb-0"
              label-size="sm"
              :description="searchDesc"
              :disabled="disabled"
            >
              <b-form-input
                v-model="search"
                id="tag-search-input"
                type="search"
                size="sm"
                autocomplete="off"
              ></b-form-input>
            </b-form-group>
          </b-dropdown-form>
          <b-dropdown-divider></b-dropdown-divider>
          <b-dropdown-item-button
            v-for="option in availableOptions"
            :key="option"
            @click="onOptionClick({ option, addTag, tags })"
          >
            {{ option }}
          </b-dropdown-item-button>
          <b-dropdown-text v-if="availableOptions.length === 0">
            選択できる効果がありません。
          </b-dropdown-text>
        </b-dropdown>
      </template>
    </b-form-tags>
  </b-form-group>
</template>

<script>
  // config系
  import { getSearchOptions } from '../../../config/SearchOptions.js'

  export default {
    data: function () {
      return {
        options: getSearchOptions(),
        search: '',
        value: []
      }
    },
    props: {
      belts: null
    },
    computed: {
      criteria: function () {
        // 検索ワードをtrimする
        return this.search.trim()
      },
      availableOptions: function () {
        const criteria = this.criteria
        // 選択済みオプションを除外
        const options = this.options.filter(opt => this.value.indexOf(opt) === -1)
        if (criteria) {
          // 検索ワードに一致するオプションのみを表示
          return options.filter(opt => opt.indexOf(criteria) > -1)
        }
        // Show all options available
        return options
      },
      searchDesc: function () {
        if (this.criteria && this.availableOptions.length === 0) {
          return '入力された効果は存在しません。'
        }
        return ''
      }
    },
    methods: {
      onOptionClick: function ({option, addTag, tags}) {
        addTag(option)
        this.search = ''

        // 選択されているタグ配列をコピー
        let selectedAbilities = tags.slice()
        selectedAbilities.push(option)

        this.$emit('update:belts', selectedAbilities)
      },
      onOptionRemoveClick: function ({tag, removeTag, tags}) {
        removeTag(tag)

        // 選択されているタグ配列をコピー
        let selectedAbilities = tags.slice()
        const removeIndex = selectedAbilities.indexOf(tag)
        selectedAbilities = selectedAbilities.filter((_, index) => index !== removeIndex)

        this.$emit('update:belts', selectedAbilities)
      }
    }
  }
</script>
