<template>
  <b-navbar toggleable type="dark" variant="dark">
    <b-navbar-brand>DQ10ベルト管理ツール</b-navbar-brand>

    <b-navbar-toggle target="navbar-toggle-collapse">
      <template v-slot:default="{ expanded }">
        <v-fa v-if="expanded" icon="angle-up" />
        <v-fa v-else icon="angle-down" />
      </template>
    </b-navbar-toggle>

    <b-collapse id="navbar-toggle-collapse" is-nav>
      <b-navbar-nav class="ml-auto">
        <b-nav-item href="#/">ベルト</b-nav-item>
        <b-nav-item href="#/senshin-seal">効果選択 - 戦神のベルト</b-nav-item>
        <b-nav-item href="#/kiseki-seal">効果選択 - 輝石のベルト</b-nav-item>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>
